/* Importações dos estilos */
@import "menu.css";
@import "banner.css";
@import "main.css";
@import "contato.css";
@import "cookies.css";

/* SERVIÇOS ESTILO */
@import "servico.css";

/* FERRAMENTAS ESTILO */
@import "ferramentas.css";

/* PAGINA DE ERRO ESTILO */
@import "404.css";

/* PHISHING */
@import "phishing.css";

/* TREINAMENTO - ESTILO */
@import "treinamento.css";


@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Mukta:wght@300;800&family=Roboto+Mono:ital,wght@0,200;0,400;0,600;1,300&family=Roboto:ital,wght@0,300;0,900;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    text-decoration: none;
}

@media (max-width:600px) {
    #mobile-suporte {
        margin-top: 10rem;
    }
}