/* ====================== CONTATO ================= */

.contato-1 {
    background-color: #fff;
}

.container-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 6rem;
  }
  
  .contact-form {
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    margin-right: 50px;
    height: 50vh;
  }
  
  .contact-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #25211f;
  }

  .contact-form textarea {
    height: 20vh;
  }
  
  .contact-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .company-info {
    width: 40%;
    height: 100vh;
    padding: 20px;
    background-color: black;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  .company-info .desc-contato {
    text-align: left;
    margin-top: 10%;
  }

  .company-info h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
  }
  
  .company-info p {
    margin-bottom: 10px;
  }
  

.contact-form button {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #000;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.contact-form button:hover {
    transition: .1s;
    transform: scale(1.05);
}

.redes a i{
    font-size: 2.5rem;
    color: #fff;
    border-radius: 2px;
}

.redes .ph-instagram-logo:hover {
    background: linear-gradient(#405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737);
    transform: scale(1.010);
    transition: .5s;
    padding: 4px;

}
.redes .ph-twitter-logo:hover {
    background: #405DE6;
    padding: 4px;
    transform: scale(1.010);
    transition: .5s;
}

.redes .ph-whatsapp-logo:hover {
  background-color: #4CAF50;
  transform: scale(1.010);
  transition: .5s;
  padding: 4px;
}

@media screen and (max-width:768px) {
/* ====================== CONTATO ================= */
.container-contato {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  .contact-form {
    width: auto;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10rem;
  }
  
  .contact-form h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #25211f;
    width: auto;
  }
  
  .contact-form textarea {
    height: 20vh;
  }
  
  .contact-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .company-info {
    width: auto;
    height: 100vh;
    padding: 20px;
    background-color: black;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .company-info .desc {
    text-align: left;
    margin-top: 10%;
  }
  .company-info h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
  }
  .company-info p {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  .contact-form button {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #000;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.contact-form button:hover {
    transition: .1s;
    transform: scale(1.05);
}

  }
  
  @media screen and (max-width:880px) {
    .titulo-div-5 {
      display: flex;
      flex-direction: column;
  }
}
