.banner-ferramentas {
    background-image: url("../ferramentas/img/BANNER-HACKER.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
}

.banner-ferramentas h1 {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 25%;
    transform: scalex(-50%, -50%);


    text-transform: uppercase;
    color: #fff;
    font-size: 2.5rem;
}

#ferramentas a {
    color: #0069d9;
}

main#ferramentas {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

.ferramentas-section-1 {
    display: flex;
    gap: 3rem;
}

.ferramentas-txt {
    margin-top: 3rem;
}

.ferramentas-section-1 .f-1 {
    width: 100%;
    margin-top: 2rem;
}

.f-1 h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: rgba(17, 17, 17, 0.875);
}

.f-1 p {
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: 600;
    color: rgba(27, 26, 26, 0.86);

    letter-spacing: 1px;
}

.banner-curso {
    width: 50%;
    height: 80%;
}

.banner-curso img {
    width: 80%;
    height: 80%;
}


/* FOOTER */
#footer-ferramentas {
    background-color: #000;
    width: 100%;
    height: auto;
    color: #fff;
    text-align: center;
}

#footer-ferramentas .redes {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

#footer-ferramentas a {
    margin-top: 10px;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
}

#footer-ferramentas a:hover {
    color: #0069d9;
}

#footer-ferramentas p {
    margin-top: 20px;
    font-size: 1.1rem;
}

@media screen and (max-width:600px) {
    .banner-ferramentas {
        background-image: url("../ferramentas/img/BANNER-HACKER.webp");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 50vh;
        width: 100%;
    }
    .banner-ferramentas h1 {
        text-align: center;
        margin-top: 20%;
        position: relative;
        left: auto;
        font-size: 2rem;
    }

    .ferramentas-section-1 {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .banner-curso {
        width: 100%;
        height: 20%;
    }
    
    .banner-curso img {
        width: 100%;
        height: 50%;
        background-size: cover;
        background-position: center;
    }

    #footer-ferramentas {
        background-color: #000;
        width: 100%;
        height: auto;
        color: #fff;
        text-align: center;

        padding: 10px;
    }
}