.home {
    background-color: #000;
    color: #fff;
    height: auto;
    width: 100%;
}

.desc-home {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.home h1 {
    font-size: 2.5rem;
    margin-top: 20px;
    text-align: center;
}
.home span {
    color: silver;
}
.home h3 {
    text-align: center;
    margin-top: 5px;
    font-size: 1.5rem;
}
.home p {
    text-align: justify;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}